body {
  margin: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  color: #333;
}

.container {

  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin: 0 0.5rem;
  width: calc(100%-2rem);
  max-width: 1280px;

  @media (min-width: 768px) {
    margin: 0 1rem;
  }

  @media (min-width: 1024px) {
    margin: 0 2rem;
  }
}

#product-grid {
  display: grid;
  column-gap: 8px;
  row-gap: 60px;
}

#product-grid.fullscreen {
  @media (min-width: 368px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 528px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

#product-grid.sidebar {

  /* Should really be mobile until 768 */

  @media (min-width: 368px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 528px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

#left-sidebar {
  min-width:250px;
  background-color: paleturquoise;
}

.product-tile {
  display:flex;
  flex-direction: column;
  margin-top: auto;
  min-width: 160px;
}

.product-tile .product-info {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  min-height: 8.5rem;
  padding: 0.5rem 0 0 0;
}

.product-tile:focus {
  outline-offset: 4px;
}

.product-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-tile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

h3, .cabin-500 {
  margin: 0;
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 0.9375rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 98;
}

.cabin-meta {
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.875rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 98;
}

.clamp {
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 1;       
  line-clamp: 1;
  overflow: hidden;
}

.title {
  margin-bottom: 0.0;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

.author {
  margin-bottom: 0.5rem;
}

.format {
  margin-bottom: 0;
}

.price {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.9375rem;
}

.offer {
  color: #D6420B;
}

.price.strikethrough {
  text-decoration: line-through;
  color: #888;
}

.price.sale {
  color: #D6420B;
}

.badge {
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 0.65rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 98;

  border-radius: 3px;
  border: 1px solid #555;
  padding: 4px;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  top: 5px;
  right: 5px;
  color: #444;
  text-transform: uppercase;
  opacity:0.9;
}