body {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  
  color: #333;
}

.container {
  width:100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  box-sizing: border-box;
  padding: 0 1rem;
  justify-content: center;
}

/******************************************************************************************/

/* Need to clean up the CSS and add manual breakpoints so it works at smaller sizes.
Will need to set a minimum size on the product tile as well. */


#sidebar {
  min-width:250px;
  background-color: palegoldenrod;

  display: none;

  @media (min-width: 940px) {
    display:block;
  }
}

#product-grid {
  display: grid;
  column-gap: 16px;
  row-gap: 50px;
  max-width: 1050px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(180px, auto));
}

.product-cell {
  margin: auto auto 0 auto;
}

.product-tile {
  /* background-color: palegoldenrod; */
  max-width:180px;
  width: min-content;
}

.product-tile .product-info {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  min-height: 8.5rem;
  padding: 0.5rem 0.125rem 0 0.125rem;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-tile img {
  width: 180px%; /* Critical to have it scale with viewport */
  height: auto;
  max-height: 250px; /* This is relative to the product grid max-width to minimize info / image mismatch */
  object-fit: contain;
  border-radius: 2px;
}

.product-tile:focus {
  outline-offset: 4px;
}

/******************************************************************************************/

h2, .cabin-500 {
  margin: 0 0 2rem 0;
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.75rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 98;
}

h3, .cabin-500 {
  margin: 0;
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 0.875rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 98;
}

.cabin-meta {
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.85rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 98;
}

.clamp {
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 1;       
  line-clamp: 1;
  overflow: hidden;
  padding-right: 4px;
}

.title {
  margin-bottom: 0.0;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

.author {
  margin-bottom: 0.5rem;
}

.format {
  margin-bottom: 0;
}

.price {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.9375rem;
}

.price.strikethrough {
  text-decoration: line-through;
  color: #888;
}

.price.sale {
  color: #D6420B;
}

.offer {
  color: #D6420B;
  font-size: 0.8rem;
}

.badge {
  font-family: "Cabin", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 0.65rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 98;

  border-radius: 3px;
  border: 1px solid #555;
  padding: 4px;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  top: 5px;
  right: 5px;
  color: #444;
  text-transform: uppercase;
  opacity:0.9;
}

hr {
  border: 0;
  border-top: 1px solid #000;
  height: 1px;
  width: 100vw;
  margin: 2rem 0 2.5rem 0;
}

.hide {
  display: none;
}